<!-- Printer Selection -->
<div class="form-group-apple">
    <label for="printer" class="label-apple">Which printer do you think your model fits on?</label>
    <select id="printer" 
            name="printer" 
            required 
            class="select-apple"
            :disabled="!printMethod"
            :class="{ 'disabled-apple': !printMethod }">
        <option value="">-- Select --</option>
        <template x-for="printer in printerOptions" :key="printer">
            <option :value="printer" x-text="printer"></option>
        </template>
    </select>
    <template x-if="!printMethod">
        <small class="text-apple-footnote text-apple-gray-400 mt-1 block">
            Please select a print method first
        </small>
    </template>
</div> 